.beforeAfter {
  display: flex;
  &__title {
    color: $red;
    width: 50%;
    h2 {
      width: 80%;
      padding: 1rem 0;
      font-size: 55px;
    }
  }
  &__container {
    width: calc(50% + var(--leftMargin));
    left: 50%;
    position: absolute;
}
}

.slider {
  position: relative;
  height: 0;
  padding-bottom: 65.573%;
  // height : 300px;

  &__after {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    pointer-events: none;
  }

  &__before {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-size: cover;
    pointer-events: none;
  }
}