.avantApres {
    display: flex;
    flex-direction: row;

    @media (max-width: 1000px) {
    flex-direction: column;
    }

    p {
        color: white;
        z-index: 3;
        bottom: 13px;
        left: 19px;
        font-family: "Noto serif";
        font-style: italic;
        position: absolute;
        width: 48%;
        text-align: left;
        bottom: 51px;
        left: 15px;
        max-height: 0px;
        @media (min-width: 1000px) {
            bottom: 53px;
            left: 15px;
        }
    }

    &>* {
        @media (max-width: 800px) {
            width: var(--wrapper);
        }
    }

    &__title {
        color: $red;
        padding: 2rem 0;
        display: flex;
        align-items: center;
        @media (min-width: 1000px) {
        width: 50%;
        height: 300px;
        }

        h2 {
            width: 80%;
            padding: 1rem 0;
        }
    }

    &__image {

        width: 200vw;
        position: relative;
        right: var(--leftMargin);
        
        overflow: hidden;
        height: 250px;

        display: inline-flex;
        align-items: center;
        
        @media (min-width: 1000px) {
            width: calc(100% + (var(--leftMargin)*2));
            height: 300px;
            left: 50%;
            position: absolute;
            height: 300px;
            display: inline-flex;
            align-items: center;
            overflow: hidden;
        }

        &__container {
            overflow: hidden;
            figure {
                position: relative;

                &>img {
                    position: relative;
                    max-width: 100%;
                    @media (max-width: 800px) {
                        max-width: 60%;
                        height: 250px;
                    }
                }

                &>div {
                    background-size: 59vw;
                    background-position: center left;
                    position: absolute;
                    bottom: 0;
                    height: 100%;
                    border-right: 2px solid #fff;
                    z-index: 2;
                    width: 53%;
                    @media (max-width: 800px) {
                        background-size: 120vw;
                    }
                }
            }

            &:hover {
                .avantApres__image__button {
                    &::after {
                        width: calc(100% + 35px);
                        height: calc(100% + 35px);
                        opacity: 0.2;
                    }
                }
            }
        }

        &__button {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(50%, -50%);
            z-index: 2;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            text-align: center;
            border-radius: 50%;
            font-family: Fleya;
            font-size: 13px;
            line-height: 14px;
            font-weight: 500;

            &::before,
            &::after {
                content: "";
                z-index: -1;
                border-radius: 50%;
                background: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &::before {
                width: 100%;
                height: 100%;
            }

            &::after {
                width: calc(100% + 15px);
                height: calc(100% + 15px);
                opacity: 0;
                transition: 0.2s;
            }

            &:hover {}
        }
    }

    input[type="range"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        position: absolute;
        top: 50%;
        left: -35px;
        transform: translateY(-50%);
        background-color: red;
        width: calc(100% + 70px);
        z-index: 3;
        opacity: 0;

        &:focus,
        &:active {
            outline: none;
        }

        &::-moz-range-track {
            -moz-appearance: none;
            height: 15px;
            width: 98%;
            background-color: rgba(255, 255, 255, 0.1);
            position: relative;
            outline: none;
        }

        &:active {
            border: none;
            outline: none;
        }

        @mixin thumb {
            width: 70px;
            height: 70px;
            background: #fff;
            border-radius: 50%;
            cursor: pointer;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            @include thumb;
        }

        &::-moz-range-thumb {
            -moz-appearance: none;
            @include thumb;
        }

        &:focus {

            &::-webkit-slider-thumb,
            &::-moz-range-thumb {
                background: rgba(255, 255, 255, 0.5);
            }
        }
    }
}