.dev * {
  -webkit-box-shadow: inset 0 0 1px #000;
          box-shadow: inset 0 0 1px #000;
}

.grid {
  display: none;
  pointer-events: none;
}

.dev .grid {
  display: block;
  z-index: 999;
  position: fixed;
  top: 0;
  left: var(--leftMargin);
  width: var(--wrapper);
  height: 100vh;
}

.dev .grid ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}

.dev .grid li {
  width: var(--col);
  height: 100%;
  background: rgba(255, 0, 0, 0.2);
  border: 0 !important;
}

.dev .grid li + li {
  margin: 0 0 0 var(--gutter);
}

:root {
  --wrapper: 1300px;
  --gutter: 40px;
  --leftMargin: calc((100vw - var(--wrapper))/2);
  --col: calc((var(--wrapper) - 11*var(--gutter))/12);
  --col-2: calc(var(--col)*2 + var(--gutter));
  --col-3: calc(var(--col)*3 + 2*var(--gutter));
  --col-4: calc(var(--col)*4 + 3*var(--gutter));
  --col-5: calc(var(--col)*5 + 4*var(--gutter));
  --col-6: calc(var(--col)*6 + 5*var(--gutter));
  --col-7: calc(var(--col)*7 + 6*var(--gutter));
  --col-8: calc(var(--col)*8 + 7*var(--gutter));
  --col-9: calc(var(--col)*9 + 8*var(--gutter));
  --col-10: calc(var(--col)*10 + 9*var(--gutter));
  --col-11: calc(var(--col)*11 + 10*var(--gutter));
}

@media (max-width: 1450px) {
  :root {
    --wrapper: calc(100vw - 150px) ;
  }
}
@media (max-width: 1150px) {
  :root {
    --wrapper: calc(100vw - 100px) ;
  }
}
@media (max-width: 1000px) {
  :root {
    --wrapper: calc(100vw - 60px);
    --gutter: 30px ;
  }
}
@media (max-width: 600px) {
  :root {
    --wrapper: calc(100vw - 40px);
    --gutter: 20px ;
  }
}
.flexJcSB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1001px) {
  .flexJcSB.half > * {
    width: calc((100% - var(--gutter)) / 2);
  }
  .flexJcSB.third > * {
    width: calc((100% - 3 * var(--gutter)) / 4);
  }
  .flexJcSB.fourth > * {
    width: calc((100% - 2 * var(--gutter)) / 3);
  }
}
.flexAlignLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1001px) {
  .flexAlignLeft.half > * {
    width: calc((85% - var(--gutter)) / 2);
  }
  .flexAlignLeft.third > * {
    width: calc((85% - 3 * var(--gutter)) / 4);
  }
  .flexAlignLeft.fourth > * {
    width: calc((85% - 2 * var(--gutter)) / 3);
  }
}
@media (min-width: 1001px) {
  .smartphoneOnly {
    display: none;
  }
  .tabletPortraitOnly {
    display: none;
  }
}
@media (min-width: 601px) and (max-width: 1000px) {
  .smartphoneOnly {
    display: none;
  }
  .desktopOnly {
    display: none;
  }
}
@media (max-width: 600px) {
  .desktopOnly {
    display: none;
  }
  .tabletPortraitOnly {
    display: none;
  }
}
/* pour utilisateurs sur Gutenberg */