// FORMAT WEB
.menu-full-header-container {

  // FORMAT WEB
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: 40% 20% 40%;
  align-items: end;
  padding: 1rem 0;

  .logoWeb {
    margin: 0 1.5rem;
  }

  ul {
    text-transform: initial;
  }

  // .siteHeaderContainer:first-child li {
  //   padding-bottom: 0.5rem;
  // }

  #menu-left-header,
  #menu-right-header {
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    font-family: Montserrat;
    font-weight: 500;
    text-transform: uppercase;

    .sub-menu {
      z-index: 11;
      width: 300px;
      left: 0;
      position: absolute;
      top: calc(100%);
      padding: 20px 40px 20px 30px;
      box-shadow: 0 0 10px rgb(0 0 0 / 10%);
      border-radius: 5px;
      background-color: white;

      li[class*="current"] {
        color: $purple;
        font-weight: bold;
      }
    }

    .menu-item-101 {
      text-decoration: underline;
    }
    
    li.menu-item-has-children .sub-menu {
        display: none;
      }
  }

  #menu-left-header:hover,
  #menu-right-header:hover {
    li.menu-item-has-children:hover .sub-menu {
      display: block;
      transition: 0.6s;
      transition-timing-function: ease-out;
      animation: subNavAppear 0.5s forwards cubic-bezier(0.25, 0, 0, 1);
    }
  }
}

.menu-mobile-header-container {
  display: none;
}

.burger {
  display: none;
}
// END FORMAT WEB 
// FORMAT MOBILE & TABLETTE
$timing: 0.6s;

  @media (max-width : 810px) {
    .menu-left-header-container,
      .menu-right-header-container {
        display: none;
      }

    .menu-full-header-container {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0;
    }

    .menu-full-header-container .logoWeb {
      margin: 0;
      width: 50%;
    }

    .menu-full-header-container .burger {
      display: block;
      width: 3.5rem;
      margin-left: 6px;
      padding-bottom: 20px;
      left: -22px;
      span {
        display: block;
        background: #000;
        width: 4rem;
        height: 4px;
        border-radius: 5px;
        transform-origin: center;
        height: 3.5px;
        &:nth-child(2) {
          top: 5px;
        }
        &:last-child {
          top: 10px;
        }
      }
    &.open {
      span {
        animation-direction: normal;
        &:first-child {
          animation: span1Forwards ease-in-out $timing forwards;
        }
        &:nth-child(2) {
          animation: span2Forwards ease-in-out $timing forwards;
        }
        &:last-child {
          animation: span3Forwards ease-in-out $timing forwards;
        }
      }
    }
    &.close {
      span {
        animation-direction: normal;
        &:first-child {
          animation: span1Backwards ease-in-out $timing forwards;
        }
        &:nth-child(2) {
          animation: span2Backwards ease-in-out $timing forwards;
        }
        &:last-child {
          animation: span3Backwards ease-in-out $timing forwards;
        }
      }
    }
    }
 
    }
// END FORMAT MOBILE

// annimation nav web
@keyframes subNavAppear {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

// annimation nav mobile
@keyframes span1Forwards {
  0% {
    top: 0px;
  }
  50% {
    top: 5px;
    transform: rotate(0deg);
  }
  100% {
    top: 5px;
    transform: rotate(45deg);
  }
}
@keyframes span1Backwards {
  100% {
    top: 0px;
  }
  50% {
    top: 5px;
    transform: rotate(0deg);
  }
  0% {
    top: 5px;
    transform: rotate(45deg);
  }
}
@keyframes span2Forwards {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes span2Backwards {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes span3Forwards {
  0% {
    top: 10px;
  }
  50% {
    top: 5px;
    transform: rotate(0deg);
  }
  100% {
    top: 5px;
    transform: rotate(-45deg);
  }
}
@keyframes span3Backwards {
  100% {
    top: 10px;
  }
  50% {
    top: 5px;
    transform: rotate(0deg);
  }
  0% {
    top: 5px;
    transform: rotate(-45deg);
  }
}



// .add-circle a{
//   display: flex;
// &::after {
//   content: "";
//   display: inline-flex;
//   background-image: url("assets/img/rond5D23D0.svg");
//   background-size: 7px 7px;
//   background-repeat: no-repeat;
// }
// }