// FORMAT WEB
@media (min-width : 950px) {

  .siteHeader {
    position: absolute;
    margin-left: var(--leftMargin);
    z-index: 20;
    
  }
  .tel {
    display: none;
  }

  .billes {
    font-size: 14px;
    color: $purple;
  }
  #menu-left-header span:last-of-type {
      display: none
  }
  
.menu-full-header-container {
  z-index: 10;
  display: grid;
  grid-template-columns: 40% 20% 40%;
  align-items: end;
  padding: 1rem 0;

  .page_item {
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: 14px;
  }

  .menu.blanc .sub_page_item:hover,
  .menu .sub_page_item:hover {
    color: $purple;
  }

  .menu-logo-header {
    margin: 0 1.5rem;
    z-index: 20;
  }

  ul {
    text-transform: initial;
  }

  #menu-left-header ul,
  #menu-right-header ul {
    display: flex;
    justify-content: space-between;
    
    .children {
      z-index: 11;
      width: 300px;
      left: 0;
      position: absolute;
      top: calc(100%);
      padding: 15px 15px;
      box-shadow: 0 0 10px rgb(0 0 0 / 10%);
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.90);
      color: $grey02;
      font-size: 16px;

      li[class*="current"] {
        color: $purple;
        // font-weight: bold;
      }
    }

    li.page_item_has_children .children {
      display: none;
    }
  }

  #menu-left-header ul:hover,
  #menu-right-header ul:hover {
    li.page_item_has_children:hover .children {
      display: block;
      transition: 0.6s;
      transition-timing-function: ease-out;
      animation: subNavAppear 0.5s forwards cubic-bezier(0.25, 0, 0, 1);
      max-width: fit-content;
      white-space: nowrap;
    }
  }
}

.burger {
  display: none;
}
}
// END FORMAT WEB 

// FORMAT MOBILE
$timing: 0.6s;

@media (max-width : 900px) {

  .siteHeader {
    position: absolute;
    margin-left: var(--leftMargin);
  }

  .menu-full-header-container:before {
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: $coffee;
    transform: translate(-100%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    opacity: 1;
  }

  .menu-full-header-container {
    div:not(:nth-child(2n)) {
      transform: translate(-100%);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
      opacity: 1;
    }
    display: flex;
    flex-direction: column;
    width: calc(100vw + var(--leftMargin));
    right: var(--leftMargin);
    height: 100vh;
    
  }

  .menu-full-header-container.close div:not(:nth-child(2n)),
  .menu-full-header-container.close:before {
        transform: translate(-100%);
        // transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        z-index: 20;
      }

  .menu-full-header-container.open div:not(:nth-child(2n)) ,
  .menu-full-header-container.open:before {
        transform: translate(0%);
        // transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        opacity: 0.95;
        z-index: 20;
}

  .menu-full-header-container{
  .menu-logo-header {
    position: absolute;
    top: 10px;
    display: flex;
    width: 100vw;
    padding: 0px var(--leftMargin);
    justify-content: space-between;
    z-index: 20;
  }
  .aesthe_logo {
    width : 50%;
    left: -10px;
  }
}

  #menu-left-header {
  padding-top: 7rem;

}

#menu-left-header,
#menu-right-header {
  padding-left: var(--leftMargin);
}

 .menu-full-header-container {

    .tel {
      position: absolute;
      top: 58px;
      border-bottom: 2px solid black;
      font-size: 18px;
      font-weight: 500;
    }

    .billes {
      display: none;
    }

    .children{
      max-height: 0;
      overflow: hidden;
      transition: 0.6s;
      transition-timing-function: ease-out;
      
      li a {
        text-transform: initial;
        font-weight: initial;
        font-family: "Roboto";
      }

      li[class*="current"] {
        color: $purple;
        // font-weight: bold;
      }
    }

    .page_item {
      text-transform: uppercase;
      margin-bottom: 1rem;
      border-bottom: solid 2px;
      border-bottom-color: black;
      width: 84%;
      padding-bottom: 10px;
    }

    .page_item.page_item_langue,
    .page_item.page_item_telephone {
      display: none;
    }

    .page_item_has_children.open {
      .children {
        max-height: calc(52px * 8);
        transition-timing-function: ease-in;
      }
      &:before {
        transform: rotateZ(180deg);
      }
    }

    li a {
      font-size: 1.3rem;
    }

    .menu-item-127 {
      padding-bottom: 2rem;
      border-bottom: initial !important;

      :after {
        content: "";
        display: block;
        background: #000;
        height: 2px;
        width: 184px;
      }
    }

    .page_item_has_children:before {
      content: "";
      display: block;
      background: url("assets/img/fleche000000.svg");
      height: 31px;
      width: 13px;
      position: absolute;
      top: -9px;
      left: calc(100vw - 75px);
      transform-origin: center;
      transition: 0.6s;
    }

    .menu-item:not(:last-child),
    .menu-item:not(:first-child) {
      border-bottom: 2px solid black;
      width: 80vw;
      margin-top: 1rem;
    }

  }


  .menu-full-header-container .burger {
    display: block;
    width: 65px;
    position: relative;
    top: 21px;

    span {
      display: block;
      background: #000;
      width: 65px;
      height: 3px;
      position: absolute;
      border-radius: 10px;
      top: 0;
      left: 0;
      transform-origin: center;

      &:nth-child(2) {
        top: 5px;
      }

      &:last-child {
        top: 10px;
      }
    }

    &.open {
      span {
        animation-direction: normal;

        &:first-child {
          animation: span1Forwards ease-in-out $timing forwards;
        }

        &:nth-child(2) {
          animation: span2Forwards ease-in-out $timing forwards;
        }

        &:last-child {
          animation: span3Forwards ease-in-out $timing forwards;
        }
      }
    }

    &.close {
      span {
        animation-direction: normal;

        &:first-child {
          animation: span1Backwards ease-in-out $timing forwards;
        }

        &:nth-child(2) {
          animation: span2Backwards ease-in-out $timing forwards;
        }

        &:last-child {
          animation: span3Backwards ease-in-out $timing forwards;
        }
      }
    }
  }

}
// END FORMAT MOBILE

// MENU BLANC
.menu.blanc {
  color : white;
  @media (min-width : 950px) {
    .sub_page_item {
      color: $grey02;
      font-family: "Roboto";
    }
  }
}

.blanc.page_item_has_children:before {
  background: url("assets/img/fleche-FFFFFF.svg");
}

.page_item.blanc,
.tel.blanc {
  border-bottom-color: white;
}

.burger.blanc span {
  background : white;
}
// END MENU BLANC

.page_item {
  font-family: 'Montserrat';
}

.sub_page_item {
  font-family: 'Roboto';
  &:first-child
  {
    padding-top: 0.5rem;
  }
  :not(:last-child) {
    margin-bottom: 10px;
}
}


// current page

// end current page

// annimation nav web
@keyframes subNavAppear {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

// annimation nav mobile
@keyframes span1Forwards {
  0% {
    top: 0px;
  }

  50% {
    top: 5px;
    transform: rotate(0deg);
  }

  100% {
    top: 5px;
    transform: rotate(15deg);
  }
}

@keyframes span1Backwards {
  100% {
    top: 0px;
  }

  50% {
    top: 5px;
    transform: rotate(0deg);
  }

  0% {
    top: 5px;
    transform: rotate(15deg);
  }
}

@keyframes span2Forwards {
  0% {
    opacity: 1;
  }

  49% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes span2Backwards {
  0% {
    opacity: 0;
  }

  49% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes span3Forwards {
  0% {
    top: 10px;
  }

  50% {
    top: 5px;
    transform: rotate(0deg);
  }

  100% {
    top: 5px;
    transform: rotate(-15deg);
  }
}

@keyframes span3Backwards {
  100% {
    top: 10px;
  }

  50% {
    top: 5px;
    transform: rotate(0deg);
  }

  0% {
    top: 5px;
    transform: rotate(-15deg);
  }
}