/*-----------------   tns nav   -------------------*/

.tns-nav {
  display: flex;
  margin: 0;
  justify-content: center;
}
.tns-nav button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: block;
}
.tns-nav button + button {
  margin: 0 0 0 8px;
}
.tns-nav button.tns-nav-active {
  transform: scale(1.5);
}

._form_16 ._form-content button:after {
  display: none !important;
}

._form label {
  display: inline-block;
}


/*-----------------   activ campain   -------------------*/
.widget_welcome_message_dismiss {
  opacity: 1 !important;
  visibility: inherit !important;
}