/*-----------------   tns nav   -------------------*/

.tns-nav {
  display: flex;
  margin: 0;
  justify-content: center;
}
.tns-nav button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: block;
}
.tns-nav button + button {
  margin: 0 0 0 8px;
}
.tns-nav button.tns-nav-active {
  transform: scale(1.5);
}

._form_16 ._form-content button:after {
  display: none !important;
}

._form label {
  display: inline-block;
}

.card.tns-item {
	// display: flex !important;
	// justify-content: center !important;
}

/*-----------------   activ campain   -------------------*/
.widget_welcome_message_dismiss {
  opacity: 1 !important;
  visibility: inherit !important;
}

/*--------- CTA ---------*/
div.bouton-aesthe.is-centered {
	display: flex;
	justify-content: center;
	left: -55px;
}

div.cta,
a.cta {
	color: $purple;
	display: flex;	
	padding: 1rem 0;
}

button.cta {
	display: flex;
	flex-direction: column;
	span:not(:last-child) {
		text-decoration: none;
		text-transform: uppercase;
	}
	span:first-child {
		font-family: "Roboto";
		font-family: "Montserrat";
		font-weight: 400;
	}
	a span {
		text-transform: capitalize;
	}
	span:last-child {
		font-family: "Roboto";
		border-bottom: solid 2px #5D23D0;
		width: fit-content;
		font-weight: 400;
		// text-transform: lowercase;
	}
}

button.cta span:last-child:hover {
	border-bottom: solid 2px rgba($color: white, $alpha: 0);
}

.picto-cta {
	width: 55px;
	display: flex;
	align-items: end;
	margin-bottom: 8px;
}

.fixed-position {
    overflow: hidden;
	height:100vh;
 }

 button[data-action="stop"]
//  button[data-controls="prev"],
//  button[data-controls="next"]
  {
	display: none;
 }