/*--------- Bandeau fil d'ariane / Top Banner ---------*/
.breadcrumb {
  font-size: 16px;
  font-family: "Fleya";
  padding: 15px 0px;
  flex: 0 0 auto;
  @media (max-width: 1000px) {
    display: none;
  }
  a {
    padding: 0 10px;
    padding-left: 0 !important;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 600px) {
  .breadcrumb {
    display: none;
  }
}

/*-----------------   tns nav   -------------------*/

.tns-nav {
  display: flex;
  margin: 0 0 30px;
  justify-content: center;
}
.tns-nav button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: block;
}
.tns-nav button + button {
  margin: 0 0 0 8px;
}
.tns-nav button.tns-nav-active {
  transform: scale(1.5);
}

._form_16 ._form-content button:after {
  display: none !important;
}

._form label {
  display: inline-block;
}


/*-----------------   activ campain   -------------------*/
.widget_welcome_message_dismiss {
  opacity: 1 !important;
  visibility: inherit !important;
}